.W-reported-div {
    margin-top: 2vw;
    justify-content: space-around;
}

.W-report-header-div {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.W-reported-reviews-comment-nav {
    color: #636464;
}

.W-reported-general-div-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.W-reported-div-list {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.W-report-content-alignment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vw;
}

.W-report-review-paragraph {
    font-size: 1.1vw;
    color: #636464;
    font-style: italic;
    margin-top: 1vw;
}

.W-report-review-paragraph-review {
    font-size: 1.1vw;
    color: #636464;
    font-style: italic;
    margin-top: 1vw;
    margin-left: 1vw;
    overflow: hidden;
    width: 90%;
}

.W-card-reported-width {
    width: 100%;
    margin-bottom: 1.5vw;
}

.W-margin-content-name-report {
    margin-right: 5vw;
}

.W-general-pagination-reported {
    display: flex;
    margin-top: 5vw;
    justify-content: center;
}

.W-amount-reports-and-delete-button {
    display: flex;
    justify-content: space-between;
}

.W-form-remove-from-reported-bad-added {
    margin-bottom: 0;
}

.W-margin-right-reports {
    margin-right: 3vw;
}

.W-report-description-paragraph {
    margin-top: 1rem;
    font-size: 1.2vw;
    margin-left: 1vw;
    color: #b21e26;
    font-weight: bold;
}

.W-report-description-paragraph-review {
    margin-top: 1rem;
    font-size: 1.2vw;
    color: #b21e26;
    font-weight: bold;
}

.W-reported-background-color {
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b21e26;
    height: 100%;
}

.W-type-of-report {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1vw;
}

.W-reported-list-general-div {
    display: inline-block;
    width: 100%;
    margin-top: 2vw;
    height: 90px;
}

.W-report-general-div-display {
    display: block;
}

.W-delete-button-report {
    display: flex;
}

.W-username-report-description-div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.W-general-div-reports {
    display: flex;
    align-items: center;
    /*padding-right: 0;*/
}

.W-delete-form-reported {
    margin-right:1vw;
    margin-bottom: 0;
}

.W-delete-form-reported {
    display: flex;
}

.W-report-margin-zero {
    margin: 0;
    font-size: 1vw;
    color: #636464;
}

.W-color-report-type {
    font-size: 1vw;
    color: #636464;
}

@media (max-width: 1500px) {
    .W-general-pagination-reported {
        margin-top: 8vw;
    }
}

@media (max-width: 1100px) {
    .W-general-pagination-reported {
        margin-top: 11vw;
    }
}

@media (max-width: 900px) {
    .W-general-pagination-reported {
        margin-top: 13vw;
    }
}

@media (max-width: 760px) {
    .W-general-pagination-reported {
        margin-top: 15vw;
    }
}

@media (max-width: 721px) {
    .W-margin-top-report {
        margin-top: 5vw;
        font-size: 2.5vw;
    }

    .W-report-header-div {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .W-general-pagination-reported {
        margin-top: 18vw;
    }
}

@media (max-width: 700px) {
    .W-general-pagination-reported {
        margin-top: 20vw;
    }
}

@media (max-width: 560px) {
    .W-general-pagination-reported {
        margin-top: 25vw;
    }
}

@media (max-width: 500px) {
    .W-general-pagination-reported {
        margin-top: 30vw;
    }
}