.W-star-style{
    height: 1vw;
    width: 1vw;
}

.W-star-filter-location{
    display: inline;
}

.W-list{
    list-style: none;
}

.W-filter-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12%;
}


.W-films-div{
    padding: 5%;
}

.W-row-display {
    display: flex;
    flex-direction: row;
}

.W-filter-title{
    padding-left: 3%;
    padding-top: 10%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    font-size: 1.5vw;
    font-weight: bold;
}

.W-films-margin{
    margin: 7%;
}

.W-line-style{
    margin-left: 1%;
    width: 5px;
}

.W-card-design{
    text-decoration: none;
}

.W-card-text{
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.W-card-text:hover {
    transform: translateY(-5px);
    transition: 0.1s ;
    box-shadow: -1rem 0 3rem grey;
  }

.W-card-text:hover ~ .W-card-text {
    position: relative;
    transition: 0.1s;
}

.W-movie-card-size {
    /*height: 15%;*/
    width: 25%;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.W-inv-film-card-margin{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    max-height: 30vw;
    max-width: 70vw;
}

.W-img-size{
    max-height: 30vw;
    max-width: 70vw;
}

.W-nested-comments-list{
    border-left: 1px solid #333;
    list-style: none;
}
.W-nested-comment{
    margin-left: 1em;
    
    list-style: none;
}

.W-thumb-up {
    text-decoration: none;
    color: green;
}

.W-thumb-down {
    text-decoration: none;
    color: red;
} 

.W-thumb-orientation {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 1%;
}

.W-comment-section{
    list-style: none;
}

.W-star-color{
    height: 1.5vw;
    width: 1.5vw;
    color:#fbc634;
}

.W-star-location{
    margin-bottom: 5%;
}

.W-hands-style{
    height: 2vw;
    width: 2vw;
    padding-bottom: 10%;
}

.W-filter-items-text-style{
    margin-top: 0.5%;
    padding-top: 0.5%;
    margin-bottom: 2%;
    font-size: 1.1vw;
}

.accordion {
    margin-left: 5%;
    margin-bottom: 5%;
    size: 20vm;
}

.W-filter-padding {
    padding: 8%;
}

.W-star-style{
    height: 1vw;
    width: 1vw;
}