.W-star-style{
    height: 1vw;
    width: 1vw;
}

.W-star-filter-location{
    display: inline;
}

.W-list{
    list-style: none;
}

.W-filter-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 1vw;
    /*margin-top: 1.5vw;*/
    z-index: 1;
    align-items: center;
}


.W-films-div{
    padding-right: 5%;
    padding-left: 5%;
}

.W-row-display {
    display: flex;
    flex-direction: row;
}

.W-filter-title {
    padding-left: 3%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    font-size: 1.5vw;
    font-weight: bold;
    width: 15vw;
    border-color: darkred;
    background-color: white;
}

.W-dropdown-button-sorting {
    margin: 2vw 0 1vw 45vw;
}

.W-dropdown-button {
    margin-top: 2vw;
    margin-right: 4vw;
    margin-bottom: 1vw;
}

.W-dropdown-button-genre-duration-sort {
    margin-top: 2vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    height: 5vw;
}

.W-border-color-user-btn {
    border-color: green;
}


.W-films-margin{
    margin: 7%;
    width: 100% ;
}

.W-line-style{
    width: 99vw;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .85;
}

.W-films-card-body {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.W-card-design{
    text-decoration: none;
}

.W-card-text{
    text-decoration: none;
    color: black;
    transition: 0.1s;
}

.W-card-text:hover {
    transform: translateY(-5px);
    transition: 0.1s ;
    box-shadow: -1rem 0 3rem grey;
  }

.W-card-text:hover ~ .W-card-text {
    position: relative;
    transition: 0.1s;
}

.W-watchList-icon {
    margin-right: 0.5vw;
    width: 14%;
}

.W-watchList-button {
    margin-top: 1vw;
}

.W-movie-card-size {
    width: 20%;
    margin: 1vm;
    height: auto;
    display: flex;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.W-inv-film-card-margin{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    max-height: 30vw;
    max-width: 70vw;
}

.W-img-size{
    max-height: 30vw;
    max-width: 70vw;
}

.W-nested-comments-list{
    border-left: 1px solid #333;
    list-style: none;
}
.W-nested-comment{
    margin-left: 1em;
    
    list-style: none;
}

.W-thumb-up {
    text-decoration: none;
    color: green;
}

.W-thumb-down {
    text-decoration: none;
    color: red;
} 

.W-thumb-orientation {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 1%;
}

.W-comment-section{
    list-style: none;
}

.W-movie-title {
    font-size: 2vw;
}

.W-movie-description {
    font-size: 1vw;
}

.W-card-details-color {
    color: darkred;
}

.W-star-color{
    height: 1.5vw;
    width: 1.5vw;
    color:#fbc634;
}

.W-star-location{
    margin-bottom: 5%;
}


.W-filter-items-text-style{
    margin-top: 0.5%;
    padding-top: 0.5%;
    margin-bottom: 2%;
    font-size: 1.1vw;
}

.W-link-selected-color-red {
    color: red;
}

.accordion {
    margin-left: 5%;
    margin-bottom: 5%;
    size: 20vm;
}

.W-filter-padding {
    padding: 2%;
}

.W-star-style{
    height: 1vw;
    width: 1vw;
}
.W-not-found{
    height: 10vw;
    width: 10vw;
}

.W-not-found-card {
    height: 90%;
    justify-content: center;
    align-content: center;
    width: 70%;
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-left: 15vw;
}
.W-not-found-message{
    font-size: 2.5vw;
}

@media (max-width: 1800px) {
    .W-movie-title {
        font-size: 1.5vw;
    }

    .W-movie-description {
        font-size: 0.7vw;
    }
}

@media (max-width: 1600px) {
    .W-movie-title {
        font-size: 1.8vw;
    }

    .W-movie-description {
        font-size: 0.6vw;
    }
}


@media (max-width: 992px) {
    .W-filter-div {
        display: none;
    }

    .W-line-style {
        display: none;
    }

}

@media (max-width: 591px) {
    .W-movie-description {
        display: none;
    }

    .W-filter-div {
        display: none;
    }


    .W-line-style {
        display: none;
    }
}

@media (max-width: 450px) {
    .W-movie-title {
        font-size: 2.5vw;
    }
}

@media (max-width: 291px) {
    .W-movie-description {
        display: none;
    }

    .W-filter-div {
        display: none;
    }

    .W-movie-title {
        font-size: 3vw;
    }

    .W-line-style {
        display: none;
    }

    .W-pagination {
        display: fle
    }
}