.body {
    /*background: #654ea3;*/
    /*background: linear-gradient(to right, #e96443, #904e95);*/
    background-image: url(https://www.dreamstime.com/royalty-free-stock-photos-grunge-movie-background-image17100508);
    min-height: 100vh;
    overflow-x:hidden;
}

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

.W-input-label-edit-password {
    display: flex;
    align-items: flex-start;
    font-size: 1vw;
    flex-direction: column;
}

.W-profile-photo-name {
    margin-bottom: 6vw;
}

.W-profile-general-div {
    display: inline-block;
    width: 60vw;
}

.W-editProfile-button {
   font-size: 1.3vw;
}

.W-profile-general-div-display {
    display: table;
}

.W-editProfileButton-and-reviewsCant {
    justify-content: space-between;
    align-items: center;
}

.W-edit-divs-display {
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.W-picture-upload {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.W-edit-profile-picture {
    margin-right: 1vw;
    width: 12vw;
}

.W-edit-picture-text {
    color: white;
}

.W-picture-upload-button-text {
    align-items: flex-end;
    position: relative;
    margin-top: 1vw;
    flex-wrap: wrap;
}

.W-change-pass-text {
    margin-left: 1vw;
    margin-top: 1vw;
}

.W-username-profilepage {
    margin-top: 1vw;
    color: white;
}

.W-quote-in-profile {
    /*word-break: break-all;*/
    color: white;
    margin-left: 2vw;
    font-size: 1.1vw;
}

.W-img-and-quote-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.W-edition-and-admin-buttons {
    display: flex;
    align-items: center;
}

.W-input-profile-picture {
    display: flex;
    flex-direction: row;
}

.W-input-width {
    width: 15vw;
    background-color: #e9ecef;
}

.W-profile-picture-button {
    margin-left: 1.5vw;
}

.W-watchlist-div-info-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;
}

.W-watchlist-empty-icon {
    margin-top: 5vw;
    width: 5vw;
    margin-bottom: 2vw;
}

.W-form-color-red {
    color: red;
}