.W-movieCardStyle-ReviewForm{
    width: 40%;
}
.W-register-errorMsg {
    text-align: center;
}
.W-general-div-review-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}

.CodeMirror {
    max-height: 15vw;
}

.W-creating-content-title {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.W-review-card {
    width: 60%;
}

.CodeMirror {
    max-height: 15vw;
}

.W-input-label-review-info {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}


.W-forgot-password {
    margin-top:1vw;
    display: flex;
    justify-content: flex-end;
}

.W-line-style-login {
    width: 30%;
}

.W-review-registration-text {
    font-size: 0.6vw;
    color: #636464;
}

.W-login-button {
    margin-top: 1vw;
    margin-left: 23vw;
}

.W-review-registration-img {
    width: 8vw;
}

.W-password-title {
    display: flex;
    justify-content: space-around;
}

.W-send-password {
    margin-top: 1vw;
}

.W-background {
    height: 100%;
}

.W-sign-up-button-link {
    margin-top: 0.3vw;
}

.W-alignment-signup-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.W-review-registration-img-and-name {
    display: flex;
    align-items: center;
    margin: 1vw 0 2vw 0;
}

.W-sign-ip-link {
    margin-top: 3vw;
}

.W-review-registration-name {
    margin-left: 2vw;
}

.W-red-asterisco {
    color: #b21e26;
}

.W-submit-cancel-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

@media (max-width: 591px) {
    .W-submit-cancel-buttons {
        margin-top: 3%;
    }

    .W-general-div-review-info {
        margin-top: 10%;
    }

    .W-review-card {
        width: 80%;
    }
}