.W-word-break{
    word-break: break-word;
}
.W-column-display {
    display: flex;
    flex-direction: column;
}

.W-empty-comment-error {
    display: none;
    color: #b21e26;
}

.W-short-comment-error {
    display: none;
    color: #b21e26;
}

.W-read-button {
    height: 5%;
    width: 60%;
    font-size: 2vw;
}

.W-review-div-sizing {
    margin-right: 10vw;
    margin-left: 10vw;
}

.W-readMore-a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.W-readMore-button {
    display: flex;
    justify-content: space-around;
}

.W-reviews-card-margins {
    margin-left: 5vw;
    margin-right: 5vw;
    border-color: white;
}

.W-general-div-infoPage-watchlistButton-and-review {
    display: flex;
    flex-direction: row-reverse;
}

.W-watchList-and-ViewedList-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.W-div-img-and-reviewInfo {
    display: flex;
}

.W-img-size{
    width: 60%;
}

.W-star-style-info-page{
    width: 3%;
    color: #ddbe1b;
}

.W-span-text-info-card-movie {
    font-weight: bold;
    font-style: italic;
}

.W-watchlist-button-div-infopage {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.W-form-zero-margin {
    margin: 0vw;
}

.W-watchlist-button-infopage {
    width: 70px;
}

.W-watchList-icon-infopage {
    margin-right: 0.5vw;
    width: 20%;
}

.W-card-details-margin {
    margin: 0;
}

.W-add-review {
    display: flex;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    justify-content: flex-end;
}


.W-card-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: transparent;
}
.W-review-title-creator{
    width: 75%;
}

.W-card-title {
    font-size: 1.5vw;
}

.W-subTitles-font-size {
    font-size: 1vw;
}

.W-card-body-aligment {
    font-size: 1.5vw;
    margin-top: 3%;
}

.W-no-reviews-icon{
    justify-content: center;
    display: flex;
}

.W-no-reviews-image{
    max-width: 4vw;
}

.W-no-reviews-text{
    text-align: center;
}

.W-title-review {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
}

.W-reviewScore {
    margin: 0;
}

.W-stars {
    width: 9%;
    margin-right: 1%;
    margin-left: 1%;
    display: flex;
    color: #ddbe1b;
}

.W-reviewCard-stars {
    width: 1.2vw;
}

.W-delete-edit-buttons{
    display: flex;
    margin-left: 12.5vw;
}

.W-delete-edit-buttons-content {
    display: flex;
    margin-left: 14vw;
    margin-top: 1vw;
}

.W-delete-edit-buttons-width {
    width: 1.3vw;
    height: 10%;
}

.W-creator-review {
    font-size: 1vw;
    color: #636464;
    position: relative;
}

.W-stars-width {
    width: 1vw;
    color: #ddbe1b;
}

.W-row-display-thumbs {
    display: flex;
    flex-direction: row;
}

.W-reviewText {
    width: 100%;
}

.W-thumbs-buttons-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.W-movie-description-and-thumb-buttons {
    display: flex;
    flex-direction: row;
}

.W-column-display-thumbs {
    margin-right: 1.5vw;
}

.W-comment-username-report-description-div {
    width: 100%;
}

.W-comment-username-and-report {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.W-no-bullets-list {
    list-style-type: none;
    padding: 0;
}

.W-modal-comment-desc {
    color: #6c757d;
}

.W-delete-edit-report-review-buttons {
    display: flex;
}

.W-background-color-report {
    background-color: transparent;
    border-color: transparent;
}

.W-card-width {
    width: 100%;
}

.W-reply-button-div {
    display: flex;
    justify-content: flex-end;
}

.W-reply-button {
    border-color: transparent;
}

.W-reply-button:hover {
    border-color: transparent;
}

.W-comment-general-div {
    display: flex;
    justify-content: center;
}

.W-comment-general-card {
    width: 80%;
    margin-bottom: 2vw;
}

.W-comment-form-div {
    margin-top: 1vw;
    width: 80%;
}

.W-comment-form {
    display: none;
}

.W-submit-comment-button {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

/*.W-hands-style{*/
/*    height: 2vw;*/
/*    width: 2vw;*/
/*}*/

.W-thumbsButton-orientation {
    margin-bottom: 60%;
    margin-top: 60%;
    font-size: 1vw;
}

.W-img-aligment {
    display: flex;
}

.W-thumb-up {
    text-decoration: none;
    color: green;
}

.W-thumb-down {
    text-decoration: none;
    color: #b21e26;
}

.W-delete-form{
    margin-right:3vw;
    margin-bottom: 0;
}

.W-report-and-delete-comment-buttons {
    display: flex;
    margin-bottom: 1vw;
}

.W-prueba {
    margin-right: 1vw;
}

.W-accordion-card-header{
    justify-content: space-between;
    display: flex;
    padding: 0.5vw;
    align-items: center;
}

.W-accordion-card-body{
    display: flex;
    padding: 0vw;
}

.W-accordion-margin {
    margin-bottom: 3% !important;
    margin-left: 3%;
    margin-right: 3%;
}

.W-star-aligment {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.W-bottom-buttons-size {
    width: 1.8vw;
}

.W-comment-section-general-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.W-img-comment-div-margin-right {
    margin-right: 1.5vw;
}

.W-comment-text {
    height: 100%;
}

.W-div-position-comment {
    display: flex;
    align-items: center;
}

.W-general-div-comment {
    display: flex;
}

.W-comment-profile-picture {
    width: 3vw;
    height: 3vw;
    border-radius: 50%!important;
}

.W-comment-image-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 1vw;
}

.W-comment-image {
    margin-right: 1vw;
}

@media (max-width: 1300px) {
    .W-title-review {
        font-size: 1.5vw;
    }

    .W-reviewScore {
        font-size: 1vw;
    }

    .W-bottom-buttons-size {
        width: 3vw;
    }


    .W-thumbsButton-orientation {
        font-size: 2vw;
    }

    .W-reviewText {
        font-size: 1.5vw;
    }

    .W-card-body-aligment {
       font-size: 1.5vw;
    }
}

@media (max-width: 963px) {
    .W-watchList-icon {
        width: 3vw!important;
    }

    .W-creator-review{
        font-size: 1.5vw;
    }
}

@media (max-width: 800px) {
    .W-title-review {
        font-size: 3vw;
    }

    .W-reviewScore {
        font-size: 2vw;
    }

    .W-bottom-buttons-size {
        width: 4vw;
    }

    .W-subTitles-font-size {
        font-size: 1.5vw;
    }

    .W-thumbsButton-orientation {
        font-size: 3vw;
    }

    .W-reviewText {
        font-size: 2.5vw;
    }

    .W-watchlist-button-infopage {
        width: 50px;
    }

    .W-img-aligment {
        display: flex;
    }

    .W-div-img-and-reviewInfo {
        display: flex;
        justify-items: center;
    }

    .W-watchList-icon {
        width: 4vw!important;
    }

    .W-creator-review {
        font-size: 2vw;
    }
}

@media (max-width: 767px) {
    .W-card-body-aligment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 2vw;
    }

    .W-img-aligment {
        display: flex;
        margin-top: 1%;
        justify-content: center;
    }

    .W-card-title {
        font-size: 3vw;
    }

    .W-subTitles-font-size {
        font-size: 2vw;
    }

    .W-div-img-and-reviewInfo{
        display: grid;
    }

    .W-img-size{
        width: 80%;
    }

    .W-watchList-icon {
        width: 3vw!important;
    }
}

@media (max-width: 650px) {
    .W-title-review {
        font-size: 4vw;
    }

    .W-reviewScore {
        font-size: 3vw;
    }

    .W-bottom-buttons-size {
        width: 5vw;
        height: 5vw;
    }

    .W-thumbsButton-orientation {
        font-size: 4vw;
    }

    .W-reviewText {
        font-size: 3vw;
    }

    .W-card-title {
        font-size: 3.5vw;
    }

    .W-card-body-aligment {
        font-size: 2.5vw;
    }

    .W-subTitles-font-size {
        font-size: 2.5vw;
    }

    .W-div-img-and-reviewInfo{
        display: grid;
    }
}

@media (max-width: 591px) {
    .W-title-review {
        font-size: 5vw;
    }

    .W-reviewScore {
        font-size: 4vw;
    }

    .W-bottom-buttons-size {
        width: 6vw;
        height: 6vw;
    }

    .W-thumbsButton-orientation {
        font-size: 5vw;
    }

    .W-reviewText {
        font-size: 3.5vw;
    }

    .W-card-body-aligment {
        font-size: 3vw;
    }

    .W-card-title {
        font-size: 4.2vw;
    }

    .W-watchlist-button-infopage {
        width: 55px;
    }

    .W-subTitles-font-size {
        font-size: 3vw;
    }

    .W-div-img-and-reviewInfo{
        display: grid;
    }

}

@media (max-width: 301px) {

    .W-title-review {
        font-size: 6vw;
    }

    .W-reviewScore {
        font-size: 5vw;
    }

    .W-bottom-buttons-size {
        width: 7vw;
        height: 7vw;
    }

    .W-thumbsButton-orientation {
        font-size: 6vw;
    }

    .W-reviewText {
        font-size: 4.5vw;
    }

    .W-card-body-aligment {
        font-size: 3.5vw;
    }

    .W-card-title {
        font-size: 4.5vw;
    }

    .W-watchlist-button-infopage {
        width: 45px;
    }

    .W-subTitles-font-size {
        font-size: 3.5vw;
    }

    .W-div-img-and-reviewInfo{
        display: grid;
    }

}


