.W-word-break{
    word-break: break-word;
}
.W-column-display {
    display: flex;
    flex-direction: column;
}

.W-inv-film-card-margin{
    margin: 3%;
}

.W-img-size{
    width: 60%;
}

.W-star-style-info-page{
    height: 7%;
    width: 20%;
    display: flex;
    flex-direction: row;
}

.W-span-text-info-card-movie {
    font-weight: bold;
    font-style: italic;
}

.W-card-details-margin {
    margin: 0;
}

.W-add-review {
    display: flex;
    margin-right: 5%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    justify-content: flex-end;
}

.W-add-review button {
    min-width: 17vw;
}

.W-card-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.W-card-title {
    font-size: 2vw;
}

.W-card-body-aligment {
    font-size: 1.5vw;
    margin-top: 3%;
}

.W-no-reviews-icon{
    justify-content: center;
    display: flex;
}

.W-no-reviews-text{
    text-align: center;
}

.W-title-review {
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.W-reviewScore {
    margin: 0%;
}

.W-stars {
    margin-left: 5%;
    display: flex;
    font-size: 1vw;
}

.W-starts-width {
    width: 2vw;
}

.W-row-display-thumbs {
    display: flex;
    flex-direction: row;
}

.W-reviewText {
    width: 100%;
}

.W-thumbs-buttons-and-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.W-hands-style{
    height: 2vw;
    width: 2vw;
    padding-bottom: 10%;
}

.W-thumbsButton-orientation {
    margin-bottom: 60%;
    margin-top: 60%;
    font-size: 1vw;
}

.W-thumb-up {
    text-decoration: none;
    color: green;
}

.W-thumb-down {
    text-decoration: none;
    color: red;
}

.W-accordion-margin {
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.W-star-aligment {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.W-bottom-buttons-size {
    width: 2vw;
}

@media (max-width: 1300px) {
    .W-title-review {
        font-size: 2vw;
    }

    .W-reviewScore {
        font-size: 1vw;
    }

    .W-bottom-buttons-size {
        width: 3vw;
    }


    .W-thumbsButton-orientation {
        font-size: 2vw;
    }

    .W-reviewText {
        font-size: 1.5vw;
    }

    .W-card-body-aligment {
       font-size: 1.5vw;
    }
}

@media (max-width: 800px) {
    .W-title-review {
        font-size: 3vw;
    }

    .W-reviewScore {
        font-size: 2vw;
    }

    .W-bottom-buttons-size {
        width: 4vw;
    }


    .W-thumbsButton-orientation {
        font-size: 3vw;
    }

    .W-reviewText {
        font-size: 2.5vw;
    }
}

@media (max-width: 767px) {
    .W-card-body-aligment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 2vw;
    }

    .W-img-aligment {
        display: flex;
        margin-top: 1%;
        justify-content: center;
    }

    .W-card-title {
        font-size: 3vw;
    }
}

@media (max-width: 650px) {
    .W-title-review {
        font-size: 4vw;
    }

    .W-reviewScore {
        font-size: 3vw;
    }

    .W-bottom-buttons-size {
        width: 5vw;
        height: 5vw;
    }

    .W-thumbsButton-orientation {
        font-size: 4vw;
    }

    .W-reviewText {
        font-size: 3vw;
    }

    .W-card-title {
        font-size: 3.5vw;
    }

    .W-card-body-aligment {
        font-size: 2.5vw;
    }
}

@media (max-width: 591px) {
    .W-title-review {
        font-size: 5vw;
    }

    .W-reviewScore {
        font-size: 4vw;
    }

    .W-bottom-buttons-size {
        width: 6vw;
        height: 6vw;
    }

    .W-thumbsButton-orientation {
        font-size: 5vw;
    }

    .W-reviewText {
        font-size: 3.5vw;
    }

    .W-card-body-aligment {
        font-size: 3vw;
    }

    .W-card-title {
        font-size: 4.2vw;
    }

}

@media (max-width: 301px) {

    .W-title-review {
        font-size: 6vw;
    }

    .W-reviewScore {
        font-size: 5vw;
    }

    .W-bottom-buttons-size {
        width: 7vw;
        height: 7vw;
    }

    .W-thumbsButton-orientation {
        font-size: 6vw;
    }

    .W-reviewText {
        font-size: 4.5vw;
    }

    .W-card-body-aligment {
        font-size: 3.5vw;
    }

    .W-card-title {
        font-size: 4.5vw;
    }

}


