.W-movieCardStyle-ReviewForm{
    width: 40%;
}
W-register-errorMsg{
    text-align: center;
}
.W-general-div-review-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}

.W-review-card {
    width: 60%;
}

.W-input-label-review-info {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.W-submit-cancel-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.W-review-registration-text {
    font-size: 0.6vw;
    color: #636464;
}

.W-review-registration-img {
    width: 8vw;
}

.W-review-registration-img-and-name {
    display: flex;
    align-items: center;
    margin: 1vw 0 2vw 0;
}

.W-review-registration-name {
    margin-left: 2vw;
}

@media (max-width: 591px) {
    .W-submit-cancel-buttons {
        margin-top: 3%;
    }

    .W-general-div-review-info {
        margin-top: 10%;
    }

    .W-review-card {
        width: 80%;
    }
}